body {
    max-width: 1440px;
    background: #FFFFFF;
    color: #000000;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'PT Sans';
}

a {
    text-decoration: none;
    color: #000000;
}

sup {
    vertical-align: top;
}

mark {
    background: #cfcece;
}

b {
    font-weight: 700;
}

i {
    font-style: italic;
}

hr {
    margin: 0;
}

/* header */

.header {
    max-width: 1440px;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #FFFFFF;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13px auto 0;
    max-width: 1200px;
}

.navigation {
    display: flex;
    align-items: center;
}

.lang {
    font-family: 'Tourney';
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    letter-spacing: 0.04em;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}

.nav__item--link {
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #000000;
}

.nav__link {
    margin: 0 10px;
}

/* main */

.wrapper {
    position: relative;
    display: flex;
    margin: 150px auto 90px;
}

.bg__container {
    height: 760px;
    position: sticky;
    top: 150px;
    right: 0;
    z-index: -1;
}

.background {
    width: 628px;
    height: 760px;
    position: absolute;
    top: 0;
    right: 0;
}

.container {
    margin: auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.main {
    max-width: 785px;
}

.section:not(:first-child) {
    margin-top: 70px;
}

.divider {
    display: inline-block;
    width: 100px;
    height: 8px;
    background: #000000;
}

.title {
    margin-top: 20px;
}

.section__title {
    display: inline-block;
    font-family: 'Francois One';
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.title__item {
    font-family: 'Farro';
    font-weight: 300;
    font-size: smaller;
    line-height: 16px;
    letter-spacing: 0.04em;
}

.section__text {
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    margin-top: 40px;
}

.underline {
    text-decoration: underline;
}

/* sidebar */

.sidebar {
    width: 385px;

}

.sidebar__list {
    position: sticky;
    top: 80px;
}

.list__item {
    margin-bottom: 10px;
}

.list__item:not(:first-child) {
    margin-top: 70px;
}

.list__item:first-child {
    margin-top: 10px;
}